<body>
<div class="leftpanel" style='position:fixed; z-index:999;'>
    <div class="media profile-left">
        <a class="pull-left profile-thumb" href="profile.html">
            {#            头像地址#}
            <img class="img-circle" src="/static/backstage/images/user/awdad1w5d15.png" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ user.username }}</h4>
            <span class="user-options"><a href="#"><i class="glyphicon glyphicon-user"></i></a>
                              <a href="#"><i class="glyphicon glyphicon-envelope"></i></a>
                              <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                              <a href="#"><i class="glyphicon glyphicon-log-out"></i></a>
							</span>
        </div>
    </div><!-- media -->


    <ul class="nav nav-pills nav-stacked">
        <li class="active">
{#            {% if request.user.usertype == '0' %}#}
                <a href="{% url 'backstage:index' %}"><i class="fa fa-home"></i> <span>首页</span></a></li>
{#            {% endif %}#}

        <li>
{#            {% if request.user.usertype == '0' %}#}
                <a href="{% url 'backstage:userList' %}"><i class="fa fa-bar-chart-o"></i> <span>用户列表</span></a>
{#            {% endif %}#}
        </li>
        <li><a href="{% url 'backstage:productList' %}"><i class="fa fa-list-ul"></i> <span>商品列表</span></a></li>
    </ul>
</div><!-- leftpanel -->

</body>