<!DOCTYPE html>
<html>

<head>
    <title>Trendy Login Forms in Flat Design</title>

    <link href="/static/backstage/css/login/style.css" rel='stylesheet' type='text/css'/>

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,800'
          rel='stylesheet' type='text/css'>
    <!--//webfonts-->

</head>
<body bgcolor="#faebd7">
<div class="login-form" >
    <div class="first-login">
        <form>
            <li>
                <input type="text" class="text" value="Name" onFocus="this.value = '';"
                       onBlur="if (this.value == '') {this.value = 'Name';}"><a href="#" class=" icon user"></a>
            </li>
            <li class="pw">
                <input type="password" value="Password" onFocus="this.value = '';"
                       onBlur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon lock"></a>
            </li>
            <div class="submit">
                <input type="submit" onClick="myFunction()" value="LOG IN">
            </div>
        </form>
    </div>
</div>

</body>
</html>