{% include 'backstage/base_haed.html' %}
<body>
{% include 'backstage/left.html' %}
<section>
    <div class="mainwrapper">
        <div class="mainpanel">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="lg-title mb5">用户列表</h5>
                    <p class="mb20">查看所有用户信息，修改或删除。</p>
                    {% if message == '0' %}
                        <div class="alert alert-danger" id="msg">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>查询失败!</strong> 没有查找到结果。
                        </div>
                    {% else %}
                        <div class="alert alert-success" id="msg">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>查询成功!</strong> 共查到{{ users.count }}条记录。
                        </div>
                    {% endif %}

                    <table class="table table-hidaction table-hover mb30" style="font-size: 10px">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>昵称</th>
                            <th>用户名</th>
                            <th>加入时间</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for user in users %}
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>{{ user.nickname }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ message }}</td>
                                <td class="table-action-hide">
                                    <a href="#" data-toggle="tooltip" title="Edit" class="tooltips"><i
                                            class="fa fa-pencil"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Delete" class="delete-row tooltips"><i
                                            class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div><!-- table-responsive -->
            </div><!-- col-md-6 -->
        </div><!--row -->
    </div><!-- mainpanel -->
    </div><!-- mainwrapper -->
</section>
<script>
    jQuery(document).ready(function () {

        // Tags Input
        jQuery('#tags').tagsInput({width: 'auto'});

        // Textarea Autogrow
        jQuery('#autoResizeTA').autogrow();

        // Spinner
        var spinner = jQuery('#spinner').spinner();
        spinner.spinner('value', 0);

        // Form Toggles
        jQuery('.toggle').toggles({on: true});

        // Time Picker
        jQuery('#timepicker').timepicker({defaultTIme: false});
        jQuery('#timepicker2').timepicker({showMeridian: false});
        jQuery('#timepicker3').timepicker({minuteStep: 15});

        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#datepicker-inline').datepicker();
        jQuery('#datepicker-multiple').datepicker({
            numberOfMonths: 3,
            showButtonPanel: true
        });

        // Input Masks
        jQuery("#date").mask("99/99/9999");
        jQuery("#phone").mask("(999) 999-9999");
        jQuery("#ssn").mask("999-99-9999");

        // Select2
        jQuery("#select-basic, #select-multi").select2();
        jQuery('#select-search-hide').select2({
            minimumResultsForSearch: -1
        });

        function format(item) {
            return '<i class="fa ' + ((item.element[0].getAttribute('rel') === undefined) ? "" : item.element[0].getAttribute('rel')) + ' mr10"></i>' + item.text;
        }

        // This will empty first option in select to enable placeholder
        jQuery('select option:first-child').text('');

        jQuery("#select-templating").select2({
            formatResult: format,
            formatSelection: format,
            escapeMarkup: function (m) {
                return m;
            }
        });

        // Color Picker
        if (jQuery('#colorpicker').length > 0) {
            jQuery('#colorSelector').ColorPicker({
                onShow: function (colpkr) {
                    jQuery(colpkr).fadeIn(500);
                    return false;
                },
                onHide: function (colpkr) {
                    jQuery(colpkr).fadeOut(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    jQuery('#colorSelector span').css('backgroundColor', '#' + hex);
                    jQuery('#colorpicker').val('#' + hex);
                }
            });
        }

        // Color Picker Flat Mode
        jQuery('#colorpickerholder').ColorPicker({
            flat: true,
            onChange: function (hsb, hex, rgb) {
                jQuery('#colorpicker3').val('#' + hex);
            }
        });


    });

</script>
</body>
